body {
  background-color: white;
  color: black;
  font-family: $main-font;
  font-size: 14px;

  color: $black;

  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}
