// Fonts
$main-font: 'Roboto', sans-serif;

// Text color
$black: #000000;
$white: #ffffff;
$orange: #ff6b08;
$orange-button: #ff6b01;
$grey: #545454;
$grey-background: #f7f7f7;
$grey-card-color: #8c8c8c;
$red: #ff001b;
$yellow: #ffff00;

// Background color
$grey-footer-background: #f7f7f7;
$bg-team-member: rgba(33, 66, 151, 0.9);

// Border
$border: 1px solid #000000;
$border-radius: 5px;

// Shadows
$box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

// Breakpoints
$mobile: 320px;
$mobile-mid: 480px;
$tablet: 768px;
$desktop: 1280px;

//animation
$transition: 300ms cubic-bezier(0.25, 0.88, 0.85, 0.2);
$animation-modal: 250ms ease-in-out 20ms;
$time-cubic: 300ms;
