// Fonts
$main-font: 'Roboto', sans-serif;

// Text color
$black: #000000;
$backdrop-background: #00000080;

$white: #ffffff;
$orange: #ff6b08;
$orange-button: #ff6b01;
$grey: #545454;
$grey-background: #f7f7f7;
$grey-card-color: #8c8c8c;
$red: #ff001b;
$yellow: #ffff00;

// Background color
$grey-footer-background: #f7f7f7;
$bg-team-member: rgba(33, 66, 151, 0.9);

// Border
$border: 1px solid #000000;
$borger-lightgray: 1px solid #c6c6c6;
$border-radius: 5px;

// Shadows
$box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
$box-shadow-modal-button: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);

// Breakpoints
$mobile: 320px;
$mobile-mid: 480px;
$tablet: 768px;
$desktop: 1280px;

//animation
$transition: 250ms ease-in-out 20ms;
$animation-modal: 250ms ease-in-out 20ms;
$time-cubic: 300ms;

// z index for elements
$film-modal-backdrop-z-index: 1;
$film-modal-z-index: 2;
$trailer-modal-backdrop-z-index: 3;
$trailer-modal-z-index: 4;
$login-modal-backdrop-z-index: 5;
$login-modal-z-index: 6;
