<div class="backdrop_menu_sign_in visually-hidden" id="backdrop_menu_sign_in">
  <div class="menu_sign_in_new visually-hidden" id="menu_sign_in_new">
    <h1 class="title">Welcome to Filmoteka App</h1>
    <div id="firebaseui-auth-container" class="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>
  </div>
  <div class="button_position"></div>
  <button type="button" class="btn-close">X</button>
</div>
<!-- <div class="backdrop_menu_sign_in is-hidden" id="backdrop_menu_sign_in"></div> -->
