<div class="backdrop_menu_sign_in visually-hidden" id="backdrop_menu_sign_in">
  <div class="menu_sign_in_new visually-hidden" id="menu_sign_in_new">
    <button type="button" class="close_menu_sign_in modal-cross">
      <svg class="icon-close" width="18" height="18">
        <use href="./images/symbol-defs_minNN.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="title">Welcome to Filmoteka App</h2>
    <div id="firebaseui-auth-container" class="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>
  </div>
</div>
