<header class="header_library">
  <div class="header__container">
    <nav class="nav header__nav">
      <a class="logo__link" href="./index.html">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/symbol-defs_minNN.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
      </a>
      <ul class="navigation list">
        <li class="navigation-item">
          <a
            class="navigation-link home site-nav__link--no-current link"
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="navigation-item">
          <a class="navigation-link navigation-link-current link site-nav__to_library" href="#"
            >my library</a
          >
        </li>
      </ul>
    </nav>

    <div class="sign-in">
      <div class="changeMode">
        <button type="button" class="button reset_theme">x</button>
        <input type="checkbox" class="checkbox switch_theme" id="checkbox" />
        <label for="checkbox" class="checkbox-label">
          <i class="fas fa-sun"></i>
          <i class="fas fa-moon"></i>
          <span class="ball"></span>
        </label>
      </div>

       <button class="signInButton" type="button" id="signInButton">
        <svg class="signInButton_icon" width="20" height="20"">
        <use href="./images/symbol-defs_minNN.svg#icon-login_min"></use>
      </svg>
        Sign in with
      </button>

       <button
        class="signInButton visually-hidden"
        type="button"
        id="signOutButton"
      >
        Sign out
        <svg class="signInButton_icon" width="15" height="15">
          <use href="./images/symbol-defs_minNN.svg#icon-log_out"></use>
        </svg>
      </button>      
    </div>

    <div class="container-buttons">
      <button class="watchedButton" type="button" id="watchedButton">
        Watched
      </button>
      <button class="queueButton" type="button" id="queueButton">Queue</button>
    </div>
  </div>
</header>
