<main class="main-section">
  <section class="films">
    <div class="container films__container">
      <h1 class="visually-hidden main-section-title">Filmoteka</h1>
      <ul class="films__list"></ul>
      <img
        class="gdun visually-hidden"
        src="./images/GdUn_min.jpg"
        alt="Gdun"
        width="400"
      />
    </div>
  </section>
  <!-- <div class="pagination"></div> -->
  <div id="tui-pagination-container" class="tui-pagination"></div>
</main>

<!-- <svg><use href="../images/pagination-icon.svg#icon-next"></use></svg> -->
