<!-- <div class="menu_sign_out hide"></div> -->
<div class="menu_sign_in visually-hidden" id="menu_sign_in_33">
  <button
    class="btn-sign-in btn-sign-in-google"
    type="button"
    id="btn-sign-in-google"
  >
    <!-- Sign in with -->
    <svg class="btn-sign-in_icon" width="15" height="15">
      <use href="./images/symbol-defs_minNN.svg#icon-google-icon_min"></use>
    </svg>
  </button>

  <button
    class="btn-sign-in btn-sign-in-facebook"
    type="button"
    id="btn-sign-in-facebook"
  >
    <!-- Sign in with -->
    <svg class="btn-sign-in_icon" width="15" height="15">
      <use href="./images/symbol-defs_minNN.svg#icon-facebook"></use>
    </svg>
  </button>
</div>

<div class="menu_sign_in_new visually-hidden" id="menu_sign_in_new">
  <h1>Welcome to Filmoteka App</h1>  
  <div id="firebaseui-auth-container"></div>
  <div id="loader">Loading...</div>
</div>