<div class="backdrop">
  <div class="modal visually-hidden"></div>
  <div class="modal__students visually-hidden">
    <button type="button" data-modal-close class="close">
      <svg class="icon-close" width="18" height="18">
        <use href="./images/symbol-defs_minNN.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title"><b>OUR TEAM</b></h2>
    <ul class="students-list">
      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/Kyrylo_Savchenko/Kyrylo_Savchenko-desk-1x.jpg 1x,
              ./images/students/Kyrylo_Savchenko/Kyrylo_Savchenko-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/Kyrylo_Savchenko/Kyrylo_Savchenko-tab-1x.jpg 1x,
              ./images/students/Kyrylo_Savchenko/Kyrylo_Savchenko-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/Kyrylo_Savchenko/Kyrylo_Savchenko-mob-1x.jpg 1x,
              ./images/students/Kyrylo_Savchenko/Kyrylo_Savchenko-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/Kyrylo_Savchenko/Kyrylo_Savchenko-desk-1x.jpg"
            alt="Kyrylo Savchenko"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Kyrylo Savchenko</h2>
          <p class="students-text">Role: Team Lead</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href="https://www.linkedin.com/in/savchenko-kyrylo"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/Kyrylo2"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/OlgaPanayot/OlgaPanayot-desk-1x.jpg 1x,
              ./images/students/OlgaPanayot/OlgaPanayot-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/OlgaPanayot/OlgaPanayot-tab-1x.jpg 1x,
              ./images/students/OlgaPanayot/OlgaPanayot-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/OlgaPanayot/OlgaPanayot-mob-1x.jpg 1x,
              ./images/students/OlgaPanayot/OlgaPanayot-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/OlgaPanayot/OlgaPanayot-desk-1x.jpg"
            alt="Olga Panayot"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Olga Panayot</h2>
          <p class="students-text">Role: scrum master</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href="https://www.linkedin.com/in/olga-panaiot-7272b6262/"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/Olli4ka"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/mentor/mentor-desk-1x.jpg 1x,
              ./images/students/mentor/mentor-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/mentor/mentor-tab-1x.jpg 1x,
              ./images/students/mentor/mentor-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/mentor/mentor-mob-1x.jpg 1x,
              ./images/students/mentor/mentor-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/mentor/mentor-desk-1x.jpg"
            alt="Maksym Shyshko"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Maksym Shyshko</h2>
          <p class="students-text">Role: mentor</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href="https://www.linkedin.com/in/maksym-shyshko/"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/maxim729467"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/Nikolay_Naumenko/Nikolay_Naumenko-desk-1x.jpg 1x,
              ./images/students/Nikolay_Naumenko/Nikolay_Naumenko-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/Nikolay_Naumenko/Nikolay_Naumenko-tab-1x.jpg 1x,
              ./images/students/Nikolay_Naumenko/Nikolay_Naumenko-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/Nikolay_Naumenko/Nikolay_Naumenko-mob-1x.jpg 1x,
              ./images/students/Nikolay_Naumenko/Nikolay_Naumenko-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/Nikolay_Naumenko/Nikolay_Naumenko-desk-1x.jpg"
            alt="Nikolay Naumenko"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Nikolay Naumenko</h2>
          <p class="students-text">Role: developer</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href="https://www.linkedin.com/in/nikolay-naumenko-91020483/"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/NNaumenko83"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/MaksimDovhusha/MaksimDovhusha-desk-1x.jpg 1x,
              ./images/students/MaksimDovhusha/MaksimDovhusha-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/MaksimDovhusha/MaksimDovhusha-tab-1x.jpg 1x,
              ./images/students/MaksimDovhusha/MaksimDovhusha-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/MaksimDovhusha/MaksimDovhusha-mob-1x.jpg 1x,
              ./images/students/MaksimDovhusha/MaksimDovhusha-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/MaksimDovhusha/MaksimDovhusha-desk-1x.jpg"
            alt="Maksim Dovhusha"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Maksim Dovhusha</h2>
          <p class="students-text">Role: developer</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href="https://www.linkedin.com/in/maksym-dovhusha-55a13325b"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/MaksimDar"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/JuliaPiskoha/JuliaPiskoha-desk-1x.jpg 1x,
              ./images/students/JuliaPiskoha/JuliaPiskoha-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/JuliaPiskoha/JuliaPiskoha-tab-1x.jpg 1x,
              ./images/students/JuliaPiskoha/JuliaPiskoha-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/JuliaPiskoha/JuliaPiskoha-mob-1x.jpg 1x,
              ./images/students/JuliaPiskoha/JuliaPiskoha-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/JuliaPiskoha/JuliaPiskoha-desk-1x.jpg"
            alt="Julia Piskoha"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Julia Piskoha</h2>
          <p class="students-text">Role: developer</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href="https://www.linkedin.com/in/julia-piskoha-272833247/"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/julia-piskoha"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/EvgenyShestak/EvgenyShestak-desk-1x.jpg 1x,
              ./images/students/EvgenyShestak/EvgenyShestak-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/EvgenyShestak/EvgenyShestak-tab-1x.jpg 1x,
              ./images/students/EvgenyShestak/EvgenyShestak-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/EvgenyShestak/EvgenyShestak-mob-1x.jpg 1x,
              ./images/students/EvgenyShestak/EvgenyShestak-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/EvgenyShestak/EvgenyShestak-desk-1x.jpg"
            alt="Evgeny Shestak"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Evgeny Shestak</h2>
          <p class="students-text">Role: developer</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href="https://www.linkedin.com/in/evgeny-shestak-a2a70b250"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/Karavang"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/IvanMozzhakov/IvanMozzhakov-desk-1x.jpg 1x,
              ./images/students/IvanMozzhakov/IvanMozzhakov-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/IvanMozzhakov/IvanMozzhakov-tab-1x.jpg 1x,
              ./images/students/IvanMozzhakov/IvanMozzhakov-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/IvanMozzhakov/IvanMozzhakov-mob-1x.jpg 1x,
              ./images/students/IvanMozzhakov/IvanMozzhakov-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/IvanMozzhakov/IvanMozzhakov-desk-1x.jpg"
            alt="Ivan Mozzhakov"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Ivan Mozzhakov</h2>
          <p class="students-text">Role: developer</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href="https://www.linkedin.com/in/ivan-mozzhakov-3329a624b/"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/Mozzhakov"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/KaterynaSemeniuk/SemeniukKateryna-desk-1x.jpg 1x,
              ./images/students/KaterynaSemeniuk/SemeniukKateryna-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/KaterynaSemeniuk/SemeniukKateryna-tab-1x.jpg 1x,
              ./images/students/KaterynaSemeniuk/SemeniukKateryna-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/KaterynaSemeniuk/SemeniukKateryna-mob-1x.jpg 1x,
              ./images/students/KaterynaSemeniuk/SemeniukKateryna-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/KaterynaSemeniuk/SemeniukKateryna-desk-1x.jpg"
            alt="Kateryna Semeniuk"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Kateryna Semeniuk</h2>
          <p class="students-text">Role: developer</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href="https://www.linkedin.com/in/katya-semeniuk-a2b806260"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/Katya-Semeniuk"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/OleksandrShevchuk/OleksandrShevchuk-desk-1x.jpg 1x,
              ./images/students/OleksandrShevchuk/OleksandrShevchuk-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/OleksandrShevchuk/OleksandrShevchuk-tab-1x.jpg 1x,
              ./images/students/OleksandrShevchuk/OleksandrShevchuk-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/OleksandrShevchuk/OleksandrShevchuk-mob-1x.jpg 1x,
              ./images/students/OleksandrShevchuk/OleksandrShevchuk-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/OleksandrShevchuk/OleksandrShevchuk-desk-1x.jpg"
            alt="Oleksandr Shevchuk"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Oleksandr Shevchuk</h2>
          <p class="students-text">Role: developer</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href="https://www.linkedin.com/in/oleksandr-shevchuk-y"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/Sasha92Shevchuk"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/SerhiiKostiuchenko/SerhiiKostiuchenko-desk-1x.jpg 1x,
              ./images/students/SerhiiKostiuchenko/SerhiiKostiuchenko-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/SerhiiKostiuchenko/SerhiiKostiuchenko-tab-1x.jpg 1x,
              ./images/students/SerhiiKostiuchenko/SerhiiKostiuchenko-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/SerhiiKostiuchenko/SerhiiKostiuchenko-mob-1x.jpg 1x,
              ./images/students/SerhiiKostiuchenko/SerhiiKostiuchenko-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/SerhiiKostiuchenko/SerhiiKostiuchenko-desk-1x.jpg"
            alt="Serhii Kostiuchenko"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Serhii Kostiuchenko</h2>
          <p class="students-text">Role: developer</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href="https://www.linkedin.com/in/serhii-kostiuchenko-54236925b/"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/Kcepriu/"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="students-member">
        <picture>
          <source
            srcset="
              ./images/students/YuriMykhalchenko/YuriMykhalchenko-desk-1x.jpg 1x,
              ./images/students/YuriMykhalchenko/YuriMykhalchenko-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/students/YuriMykhalchenko/YuriMykhalchenko-tab-1x.jpg 1x,
              ./images/students/YuriMykhalchenko/YuriMykhalchenko-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/students/YuriMykhalchenko/YuriMykhalchenko-mob-1x.jpg 1x,
              ./images/students/YuriMykhalchenko/YuriMykhalchenko-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/students/YuriMykhalchenko/YuriMykhalchenko-desk-1x.jpg"
            alt="Yuri Mykhalchenko"
            width="450"
            height="460"
          />
        </picture>
        <div class="student-describtion">
          <h2 class="students-name">Yuri Mykhalchenko</h2>
          <p class="students-text">Role: developer</p>
          <ul class="students-contacts">
            <li class="contacts-item">
              <a
                href=""
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs_minNN.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="contacts-item">
              <a
                href="https://github.com/YuriMykhalchenko"
                rel="noopener noreferrer nofollow"
                class="contacts-link"
                target="_blank"
              >
                <svg class="contacts-icon" width="20" height="20">
                  <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
