<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentsModal</title>
</head>
<body>
    <!-- --------------------MODAL----------------- -->
    <div class="backdrop" data-modal>
        <div class="modal">
            <button type="button" data-modal-close class="close">
                <svg class="icon-close" width="18" height="18">
                    <use href="./images/symbol-defs_minNN.svg#icon-close"></use>
                </svg>
            </button>
            <h1 class="modal-title"><b>НАША КОМАНДА</b></h1>
            <ul class="students-list">
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="students-member">
                    <picture>
                        <img src="./images/students/flag.jpg" alt="member" width="450" height="460" />
                    </picture>
                    <div class="student-describtion">
                        <h2 class="students-name">Ім&#39;я Прізвище</h2>
                        <p class="students-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus dolorem unde
                            distinctio impedit mollitia inventore optio, labore modi ratione, aliquid maxime autem quasi iusto, harum
                            quibusdam quidem totam libero?</p>
                        <ul class="students-contacts">
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts-item">
                                <a href="" class="contacts-link">
                                    <svg class="contacts-icon" width="20" height="20">
                                        <use href="./images/symbol-defs_minNN.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
             
        </div>
    </div>
    <script src="./js/students.js"></script>
</body>
</html>