footer {
  position: relative;
  bottom: 0px;
  background-color: $grey-background;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
  }
}

.footer__div {
  display: flex;
  margin-top: 10px;

  @include tablet {
    margin-top: 0;
  }
}

.footer__item,
.footer__btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $grey;

  @include tablet {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__item:not(:last-child) {
  margin-right: 5px;
}

.footer__icon {
  width: 14px;
  height: 13px;
  margin-right: 10px;
  margin-left: 10px;

  @include tablet {
    margin-top: 3px;
  }
}

.footer__btn {
  background-color: transparent;
  text-decoration: underline $grey;
  transition: $transition;
}

.footer__btn:hover {
  font-weight: 600;
  color: $grey;
  text-decoration: underline 2px $grey;
}

.footer__btn:hover .footer__icon {
  width: 200px;
  height: 200px;
}