.header {
  padding-top: 40px;
  padding-bottom: 44px;
  max-width: 100%;
  height: 230px;
  margin: 0 auto;

  background-color: rgba(0, 0, 0, 0.56);

  background-image: url('../images/MobileNN/Header_main_bcg_mobile@1x-min.jpg');
  background-size: cover;

  @include retina {
    background-image: url('../images/MobileNN/Header_main_bcg_mobile@2x-min.jpg');
  }

  @include tablet {
    padding-top: 40px;
    padding-bottom: 44px;
    // max-width: 768px;
    height: 216px;

    background-image: url('../images/TabletNN/Header_main_bcg_tablet@1x-min.jpg');

    @include retina {
      background-image: url('../images/TabletNN/Header_main_bcg_tablet@2x-min.jpg');
    }
  }

  @include desktop {
    padding-top: 40px;
    padding-bottom: 44px;
    // max-width: 1280px;
    height: 216px;

    background-image: url('../images/DesktopNN/Header_main_bcg_desktop@1x-min.jpg');

    @include retina {
      background-image: url('../images/DesktopNN/Header_main_bcg_desktop@2x-min.jpg');
    }
  }
}

.header-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1280px;
  margin: 0 auto;

  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.site-nav {
  display: flex;
  gap: 40px;
  list-style: none;
}

.site-nav__link {
  color: currentColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $white;

  transition-property: color;
  transition-duration: $time-cubic;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.logo__link {
  display: flex;
  align-items: center;
  color: $white;
  transition-property: color;
  transition-duration: $time-cubic;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    color: $orange;
  }
}

.site-nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -3px;

  content: '';
  width: 35px;
  height: 3px;
  background-color: $red;
}

.site-nav__link--no-current::after {
  position: absolute;
  left: 0;
  bottom: -3px;

  content: '';
  width: 69px;
  height: 3px;
  background-color: $orange;

  transition-property: all;
  transition-duration: $time-cubic;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  transform: scaleX(0);
}

.site-nav__link--no-current:hover.site-nav__link--no-current:hover::after,
.site-nav__link--no-current:focus.site-nav__link--no-current:hover::after {
  transform: scaleX(1);
}

.site-nav__link--no-current:hover,
.site-nav__link--no-current:focus {
  color: $orange;
}

.site-nav__item {
  position: relative;
}

.header__input {
  border-style: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  color: $white;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;

    color: white;
  }
}

.submit__icon {
  color: white;

  transition-property: all;
  transition-duration: $time-cubic;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.submit-button {
  height: 20px;
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}
.submit-button:hover .submit__icon,
.submit-button:focus .submit__icon {
  color: $orange;
}

.header__form {
  max-width: 336px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 16px;
  border-bottom: 0.5px solid $white;

  transition-property: all;
  transition-duration: $time-cubic;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  @include tablet {
    margin: 0 auto 20px;
  }

  @include desktop {
    max-width: 394px;
    margin: 0 auto 20px;
  }

  &:has(.header__input:focus) {
    border-bottom: 0.5px solid $orange;
  }
}

.header__error-message {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  color: $red;
}

.logo-text {
  display: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: currentColor;

  @include tablet {
    display: inline;
  }
}

.logo__icon {
  color: currentColor;
  @include tablet {
    margin-right: 10px;
  }
}

.signInButton {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-bottom: 17px;
  width: 142px;
  height: 30px;

  border: 1px solid $white;
  border-radius: 5px;
  color: $white;
  background-color: transparent;

  gap: 10px;

  transition-property: all;
  transition-duration: $time-cubic;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  &:hover,
  &:focus {
    color: orange;
    border-color: #ff6b08;
  }

  @include tablet {
    margin-bottom: 4px;
  }

  @include desktop {
    margin-bottom: 4px;
  }
}

.signInButton_icon {
  fill: currentColor;
}

.logo__icon,
.footer__icon {
  animation: rotateY-anim 5s linear infinite;
}

@keyframes rotateY-anim {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
