.sign-in {
  position: relative;
}

.menu_sign_in {
  display: flex;
  position: absolute;
  justify-content: space-around;
  top: 32px;
  right: 0px;

  z-index: 900;
  width: 142px;
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1) visibility 500ms
    cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #161616;
  border: 1px solid #ff6b08;
  border-radius: 10px;
  padding: 10px;

  gap: 10px;

  -webkit-box-shadow: 0px 0px 42px 0px rgba(255, 106, 0, 1);
  -moz-box-shadow: 0px 0px 42px 0px rgba(255, 106, 0, 1);
  box-shadow: 0px 0px 42px 0px rgba(255, 106, 0, 1);
}

.btn-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-basis: calc(100% / 2);
  height: 30px;

  border: 1px solid $white;
  border-radius: 5px;
  color: $white;
  background-color: transparent;

  transition-property: all;
  transition-duration: $time-cubic;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  &:hover,
  &:focus {
    color: orange;
    border-color: #ff6b08;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 106, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 106, 0, 1);
    box-shadow: 0px 0px 20px 0px rgba(255, 106, 0, 1);
  }
}

.btn-sign-in_icon {
  fill: currentColor;
}

.no-scroll-body {
  overflow: hidden;
  overflow-y: hidden;
}



// -----Modal Sign_in -----


.backdrop_menu_sign_in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0, 0.6);

  visibility: visible;
  opacity: 1;
  pointer-events: auto;

  // transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1)
  //   visibility 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.menu_sign_in_new {
  padding: 35px 20px;
  text-align: center;
 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 900;
  // max-width: 480px;
  height: 380px;

  visibility: visible;
  opacity: 1;

  background-color: #F7F7F7;;
  color: #161616;

  
  border-radius: 10px;
  border: 1px solid #161616;
    // box-shadow: 0 0 10px 0 hsl(200, 100%, 6%, .7)
    box-shadow: 0px 0px 12px rgba(255, 100, 1, 0.4);
    width: 80%;
    max-width: 500px;

}

    .firebaseui-idp-list{
      margin-top: 40px;
    }
     .firebaseui-idp-list > .firebaseui-list-item{
margin-bottom: 20px;
     }

.firebaseui-idp-button{
  font-size: 25px;
  padding-left: 25px;
}

// ----Sign in with email---
.firebaseui-title{
  text-align: center;
}

// Button Cancel
.firebaseui-id-secondary-link {
  margin-right: 7px;
  --color: hsl(200, 100%, 6%, .7);
    background-color: rgb(256, 256, 256);
    box-shadow: 0 0 2px 0 var(--color);
    border-radius: 5px;
}
.firebaseui-id-secondary-link:hover,
.firebaseui-id-secondary-link:focus{
// background-color: rgb(256, 256, 258);
background-color: rgb(244, 241, 241);
}


// Button Next
.mdl-button--raised.mdl-button--colored {
background-color: #FF6B01;
border-radius: 5px;
box-shadow: 0 0 2px 0 hsl(200, 100%, 6%, .7);
}

.mdl-button--raised.mdl-button--colored:hover,
.mdl-button--raised.mdl-button--colored:focus{
  background-color: #FF6B01;
  color: #3f51b5;
  
}
.firebaseui-textfield.mdl-textfield .firebaseui-input{
  color: #161616 !important;
  border-bottom-style: inset !important;
  border-radius: 0 !important;
}

// ----Input----
.firebaseui-textfield.mdl-textfield .firebaseui-input{
  font-size: 1.25rem;
    // padding: .5em;
    // background-color: hsl(200, 100%, 91%, .3);
    border: none;
    outline: none;
    border-radius: .25em;
    color: white;
    font-weight: lighter;
}




// ---Button close---

.button_position{
  position: relative;
  top: 0;
  right: 20px;
}

.btn-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #161616;
  background-color: $orange-button;
  border-radius: 50%;
  border: 1px solid rgb(47, 47, 47);
  // z-index: 900;
}


// }