.sign-in {
  position: relative;
}

.menu_sign_in {
  display: flex;
  position: absolute;
  justify-content: space-around;
  top: 32px;
  right: 0px;

  z-index: 900;
  width: 142px;
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1) visibility 500ms
    cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #161616;
  border: 1px solid #ff6b08;
  border-radius: 10px;
  padding: 10px;

  gap: 10px;

  -webkit-box-shadow: 0px 0px 42px 0px rgba(255, 106, 0, 1);
  -moz-box-shadow: 0px 0px 42px 0px rgba(255, 106, 0, 1);
  box-shadow: 0px 0px 42px 0px rgba(255, 106, 0, 1);
}

.btn-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-basis: calc(100% / 2);
  height: 30px;

  border: 1px solid $white;
  border-radius: 5px;
  color: $white;
  background-color: transparent;

  transition-property: all;
  transition-duration: $time-cubic;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  &:hover,
  &:focus {
    color: orange;
    border-color: #ff6b08;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 106, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 106, 0, 1);
    box-shadow: 0px 0px 20px 0px rgba(255, 106, 0, 1);
  }
}

.btn-sign-in_icon {
  fill: currentColor;
}

.no-scroll-body {
  overflow: hidden;
  overflow-y: hidden;
}

.backdrop_menu_sign_in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;
  pointer-events: auto;

  // transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1)
  //   visibility 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.menu_sign_in_new {
  //  display: flex;
  //  justify-content: space-around;
  //  gap: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 900;
  width: 480px;
  height: 480px;

  visibility: visible;
  opacity: 1;

  background-color: white;
  color: #161616;

  border: 1px solid #ff6b08;
  border-radius: 10px;
  padding: 10px;
}
