.header-library {
  padding-top: 40px;
  padding-bottom: 44px;
  max-width: 100%;
  height: 230px;
  // margin: 0 auto;

  background-image: url('../images/imagesYM/mobile.jpg');
  background-size: cover;

  @include retina {
    background-image: url('../images/imagesYM/mobile-2x.jpg');
  }

  @include tablet {
    padding-top: 40px;
    padding-bottom: 44px;
    // max-width: 768px;
    height: 216px;

    background-image: url('../images/imagesYM/tablet.jpg');

    @include retina {
      background-image: url('../images/imagesYM/tablet-2x.jpg');
    }
  }

  @include desktop {
    padding-top: 40px;
    padding-bottom: 44px;
    // max-width: 1280px;
    height: 216px;

    background-image: url('../images/imagesYM/desktop.jpg');

    @include retina {
      background-image: url('../images/imagesYM/desktop-2x.jpg');
    }
  }
}

.header__container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1280px;
  margin: 0 auto;

  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.site-nav {
  display: flex;
  gap: 40px;
  list-style: none;
}

.site-nav__link {
  color: currentColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $white;

  transition-property: color;
  transition-duration: $time-cubic;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.logo__link {
  display: flex;
  align-items: center;
  color: $white;
  transition-property: color;
  transition-duration: $time-cubic;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    color: $orange;
  }
}

.site-nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -3px;

  content: '';
  width: 100%;
  height: 3px;
  background-color: $red;
}

.site-nav__link--no-current::after {
  position: absolute;
  left: 0;
  bottom: -3px;

  content: '';
  width: 69px;
  height: 3px;
  background-color: $orange;

  transition-property: all;
  transition-duration: $time-cubic;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  transform: scaleX(0);
}

.site-nav__link--no-current:hover.site-nav__link--no-current:hover::after,
.site-nav__link--no-current:focus.site-nav__link--no-current:hover::after {
  transform: scaleX(1);
}

.site-nav__link--no-current:hover,
.site-nav__link--no-current:focus {
  color: $orange;
}

.site-nav__item {
  position: relative;
}
.btn-library__container {
  display: flex;
  justify-content: center;

  @include mobile {
    gap: 16px;
  }
  @include tablet {
    gap: 32px;
  }
}
.btn-library {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);

  width: 152px;
  height: 44px;
  padding: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ff6b01;
    border: #ff6b01;
  }
}
.content-my_library {
  flex-grow: 1;
}
.body-library {
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
