div#tui-pagination-container{
    display: flex;
padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.tui-page-btn{
    display: flex;
    align-items: center;
    justify-content: center;
font-weight: 500;
margin-right: 10px;
margin-left: 10px;
vertical-align: middle;
padding: 8px 0 6px;
font-size: 12px;
color: $black;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
    display: flex;
        justify-content: center;
        align-items: center;
    // overflow: hidden;
    border: 1px solid #ddd;
}

.tui-ico-next,
.tui-ico-prev,
.tui-ico-first,
.tui-ico-last{
    width: 40px;
    height: 40px;
    background-color: #F7F7F7;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
    height: 40px;
    width: 40px;
    color: #fff;
    background: $orange;
    border-color: $orange;
    cursor: pointer;
    border-radius: 5px;
}

.tui-pagination .tui-is-selected:hover {
    background-color: $orange;

}


.tui-pagination .tui-ico-ellip,
.tui-ico-last,
.tui-ico-first {
    @media screen and (max-width: 450px) {
        display: none;
    }
}

.tui-pagination .tui-prev {
    margin-right: 10px;
}

.tui-pagination .tui-next {
    margin-left: 10px;
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last {
    border: 1px solid black;
    // background: url('/src/images/next.svg') no-repeat 0 0;
    // display: inline-block;
    // vertical-align: middle;
    // font-size: 0px;
}