.pagination-page{
    background-color: tomato !important;
    font-size: 32px;
}
.pagination-page:hover,
.pagination-page:focus{
background-color: aqua;
}

// .tui-pagination .tui-page-btn{
//     font-size: 35px;
// }
// .tui-pagination .tui-page-btn:hover {
//     background-color: #b36211 !important;
// }
// span[style^=""] {
//     background-color: tomato !important;
// }
// #tui-pagination-container{
//     font-size: 35px !important;
// }